* {
    box-sizing: border-box;
}

body {
    /*overflow-x: hidden;*/
    /*line-height: 1.7;*/
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

section {
    /*min-height: 100vh;*/
    padding: 5rem 0;
    background-color: #0b1315;
}

img {
    max-width: 460px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(37,116,169,0.16);
    transition: box-shadow 0.2s;
    min-height: auto;
}

img:hover {
    box-shadow: 0 6px 30px rgba(50,195,250,0.1);
}

button {
    padding: 20px 32px;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    margin: 20px 20px 0 0;
    cursor: pointer;
    background: linear-gradient(90deg,#c0a013,#a18609 70%);
    color: #fff;
    transition: box-shadow 0.2s;
    box-shadow: 0 4px 20px rgba(37,116,169,0.08);
}

button:hover {
    box-shadow: 0 6px 30px rgba(50,195,250,0.16);
    transform: translateY(-2px);
    transition: box-shadow 0.2s, transform 0.2s;
    transition-delay: 0.05s;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header and Navbar Layout */

header {
    background-color: #0b1315;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 18px 32px;
}

/* Logo Styling */

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: auto;
}

.logo i {
    font-size: 2rem;
    color: #c0a013;
}

.logo_text {
    font-size: 1.4rem;
    color: #c0a013;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: default;
}

/* Nav Links styling */

.nav-links {
    gap: 2px;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    align-items: center;
}

.nav-link {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    color: #c0a013;
    font-weight: 500;
    padding: 6px 12px;
    transition: color 0.3s, background 0.3s, border-radius 0.3s;
    border-radius: 4px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #c0a013;
    transform: scaleX(0);
    transition: transform 0.25s ease;
    border-radius: 2px;

}

.nav-link:hover::after,
.nav-link:focus::after {
    transform: scaleX(1);
}

.nav-link.active::after {
    transform: scaleX(1);
}

.nav-link.active {
    color: #c0a013;
}

/* About Section */
#about {
    margin-top: 48px;
}

.about-container {
    max-width: 1100px;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 15px;
    /*box-shadow: 0 8px 32px rgba(37,116,169,0.1);*/
    min-height: 80vh;
}

h1 {
    color: #c0a013;
}



.about-text,
.resume-btn,
.contact-btn {
    max-width: 600px;
}

.about-content {
    padding: 40px 30px;

}

.about-text {
    font-size: 1.3rem;
    margin: 24px 0 16px 0;
    padding-bottom: 20px;
    line-height: 1.4;
    color: #ffffff;
}


.color-name {
    /*color: #ba570c;*/
    font-size: 4.3rem;
    font-weight: 700;
    background: -webkit-linear-gradient(#c0a013, #ba570c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 4.3rem;
    font-weight: 700;
    padding-bottom: 20px;
}

/* Skills Section Styling */


.skills-container {
    max-width: 1500px;
    margin: auto;
    padding: 24px;
    min-height: 70vh;
}

.skills-content h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(#c0a013, #ba570c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-list ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 64px 0 0;
}

.skill {
    position: relative;
    text-align: center;
    cursor: default;
    transition: transform 0.3s ease;
    width: 80px;
    flex-shrink: 0;
}

/* Skill icon style */
.skill i {
    font-size: 2.5rem;
    padding: 14px;
    transition: transform 0.3s ease;
    color: #888888;
}

/* Skill title (hidden by default) */
.skill::after {
    content: attr(data-title);
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    color: #a18609;
    margin-left: 0;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* Hover effect - scale icon and show title */
.skill:hover i {
    transform: scale(1.3);
    color: #c0a013;
}

.skill:hover::after {
    opacity: 1;
}

.skills-text {
    margin: 0 auto 32px auto;
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 0 12px;
}

/* Projects Section */

.projects-container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    min-height: 70vh;
}

.projects-content h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(#c0a013, #ba570c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 64px 0 0;
    min-height: auto;
}

.project {
    background: #0b1315;
    border-radius: 16px;
    box-shadow: 0 2px 14px rgba(37,116,169,0.10);
    max-width: 350px;
    padding: 30px 22px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project h3 {
    font-weight: 600;
    background: -webkit-linear-gradient(#c0a013, #ba570c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.project p {
    font-size: 1.1rem;
    color: #ffffff;
}

.project-skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
    margin: 16px 0;
    padding: 0;
}



.project-skills li {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px 12px;
    font-size: 1rem;
}

.github-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
    background: linear-gradient(90deg,#c0a013,#a18609 70%);
    color: #fff;
    transition: box-shadow 0.2s;
    box-shadow: 0 4px 20px rgba(37,116,169,0.08);
}

.github-btn:hover {
    box-shadow: 0 6px 30px rgba(50,195,250,0.16);
    transform: translateY(-2px);
    transition: box-shadow 0.2s, transform 0.2s;
    transition-delay: 0.05s;
}

/* Footer Section */

footer {
    background: #0b1315;
    color: #c0a013;
    padding: 24px 0;
    text-align: center;
    font-size: 1rem;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}
